html,body{height:100%; padding:0; margin:0}
body {
	font: 12px Arial, Helvetica, sans-serif;
	color: #000;
	background-color: #EEF2FB;
	margin: 0px;
}
#left_menu{ height:100%; width:60px;background: none repeat scroll 0% 0% #044599;margin:0; padding:0; float:left; position:relative}
.left_menu_d{ margin:0; padding:0;}
.left_menu_d dt{ width:60px; height:70px; text-align:center; cursor:pointer}
.left_menu_d dt img{vertical-align:middle;}
.left_menu_d dd{ width:220px; height:70px; display:none; position:absolute; top:0; left:60px;padding:0; margin:0}
.left_menu_d dd h3{height:50px; line-height:60px; overflow:hidden; padding:0; margin:0; color:#666; text-align:center; font-family:"Microsoft YaHei", Verdana, Arial, Helvetica, AppleGothic, sans-serif; font-size:16px; background:#acacac}
.left_menu_d dd h3 span{
	font-family: Arial;
	font-weight: normal;
	font-style: italic;
	font-size:12px;
}
.left_menu_d dd li{ list-style:none; height:42px; line-height:42px; border-bottom:1px solid #dfdfdf}
.left_menu_d dd li a{ text-decoration:none; font-family:"Microsoft YaHei", Verdana, Arial, Helvetica, AppleGothic, sans-serif; font-size:14px; color:#333; margin-left:40px}
.left_menu_d dd li a:hover{ text-decoration:underline}
.left_menu_d_hover{ background-color:#FFF;}
#left_menu2{ width:220px; float:left; height:100%; background-color:#F1F1F1;}
#container {
	width: 182px;
}
H1 {
	font-size: 12px;
	margin: 0px;
	width: 182px;
	cursor: pointer;
	height: 30px;
	line-height: 20px;
}
H1 a {
	display: block;
	width: 182px;
	color: #000;
	height: 30px;
	text-decoration: none;
	moz-outline-style: none;
	background-image: url(images/menu_bgS.gif);
	background-repeat: no-repeat;
	line-height: 30px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.content {
	width: 182px;
	height: 26px;
}
.MM ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
}
.MM li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	list-style-type: none;
	display: block;
	text-decoration: none;
	height: 26px;
	width: 182px;
	padding-left: 0px;
}
.MM {
	width: 182px;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	clip: rect(0px,0px,0px,0px);
}
.MM a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	background-image: url(images/menu_bg1.gif);
	background-repeat: no-repeat;
	height: 26px;
	width: 182px;
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	text-decoration: none;
}
.MM a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	background-image: url(images/menu_bg1.gif);
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 26px;
	width: 182px;
	text-decoration: none;
}
.MM a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	background-image: url(images/menu_bg1.gif);
	background-repeat: no-repeat;
	height: 26px;
	width: 182px;
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	text-decoration: none;
}
.MM a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #039;
	background-image: url(images_kei/menu_bg2.jpg);
	background-repeat: no-repeat;
	text-align: center;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 26px;
	width: 182px;
	text-decoration: none;
}

.in_right{width:1620px;float:left; }
