/*header*/
.header_box{margin:0.3em 1em;}
.header_left{float:left;}
.header_left img{width:8.5em ;}
.header_right{float: right;margin-top:1.0em; display: block;}
.header_right .a_head{display: inline-block; float: left;width:1.6em;}
.header_right .a_search{display: inline-block; float: left;width:1.6em;margin-left:1.2em;}
.header_right .a_menu{display: inline-block; float: left;width:1.7em;margin-left:1.2em;margin-top: 0.1em;}
.nav{background:#335eb1;  }
.nav_box{padding:0.625em 1em; overflow: hidden;}
.nav_box ul li{float:left;width:6em;width:33.3%;}
.nav_box ul li a{color:#fff;display:inline-block; line-height: 1.8em; font-size: 1.3em;;}
.nav_box ul .nav_li{text-align: right;}
.nav_box ul .nav_center{text-align: center;}
.content{margin-top:1.2em;padding:0 0.625em;}
.bd .con1 li{width:50%;float:left;text-align: center;}
.bd .con1 li a{float:left;width:96%;background: #f1f3f8;}
.bd .con1 li a:hover{background: #5da0f0;}
.bd .con1 li img{width:100%}
.bd .con1 li h2{}
.bd .con1 li h2 a{background: none;padding:0 0.2em; text-align: left; overflow: hidden; white-space: nowrap;text-overflow: ellipsis; margin-top:0.4em} 
.bd .con1 li h2 a:hover{background: inherit;color:#335eb1;}
.bd .con1 li h1{padding:0 0.3em; text-align: left; font-size: 1em;height:3em;overflow:hidden; color: #666;}
.hd{ position: relative;margin-top:0.625em;}
.hd .prev{position: absolute;left:35%; top:0;width:2.6em}
.hd .next{position: absolute;right:35%; top:0;width:2.6em}
.detail {margin-top: 4em;}
.detail span{display:inline-block;line-height:1em;font-size: 1.3em;display:inline-block;padding-left:0.625em;background:url(../img/line.jpg) no-repeat left center;height: 1.0em;}
.detail_content{margin-top:0.625em;}
.detail_top{position: relative;}
.detail_top a{display: block;}
.detail_top a img{width:100%;}
.detail_top .opctiy{width:100%;display:block;position: absolute;left: 0;bottom: 0;background:url(../img/bg.png) repeat;text-align: center;}
.detail_top .opctiy span{display:block;color:#fff;line-height:2.8em;}
.detail_a{background: #f3f5f9;}
.detail_a a{display:block;line-height:2.8em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; margin:0 0.625em;}
.detail_a a:hover{color: #335eb1;}
.detail_more{text-align: center;}
.detail_more a{display: block;line-height: 2.8em;background: #cad2e3; color: #fff; border-radius: 3px;}
.footer{background: #313440;margin-top:1em; position: absolute; left: 0; bottom: 0; width: 100%;}
.footer_box{padding:0.625em 1em;}
.footer_box .footer_top{color:#dfdfdf;}

/*cata*/
.cata{background: #fff;}
.cata_header{text-align: center; position: relative;line-height: 2.625em;font-size: 1.5em;}
.cata_header .search_left{position: absolute;left: 0;top:0.2em;}
.cata_header .search_left img{width:0.55em;} 
.cata_content{margin-top:1.2em;}
.cata_one .cata_top{background: #ebeef5;line-height: 2.2em; padding-left: 1em;font-size: 1.2em;}
.cata_one .cata_middle{background: #fff;padding-top:0.6em;padding-bottom:1.3em;}
.cata_one .cata_middle .cata_n{border-bottom: 1px dashed #e5e5e5;padding:0 1em;overflow: hidden;}
.cata_one .cata_middle .cata_n a{display:inline-block;margin-right:1.2em;line-height: 2.2em; color: #335eb1;font-size: 1.2em;min-width:4em;}
.cata_one .cata_middle .cata_n h2{display: inline-block;line-height: 2.2em; color: #335eb1;font-size: 1.2em;width:25%; float: left;}
.cata_one .cata_middle .cata_n .ad{width:75%;float: right;}
.cata_one .cata_middle .cata_n .ad .a1{margin-right:inherit;width:33%;text-align: right;}

/*search_result*/
.search_logo{position: absolute;left: 0;top:0.5em;width: 1.5em;}
.search_menu{ display:inline-block;left: inherit !important;position: absolute;right: 0; top:0.04em !important; }
.search_menu img{width: 1em !important;}
.search_content{text-align: center;}
.search_content .form_select{margin-top: 1em;}
.search_content .form_select select{width:55%;height:2.5em;border:1px solid #e5e5e5;text-indent: 1em; font-size: 1em;}
.search_content .form_select input[type="text"]{width:55%;height:2.2em;border:1px solid #e5e5e5; text-indent: 1em;font-size: 1em;padding:0 !important;}
.search_content .form_select .search_in{min-width:22%;padding:0.4em 0.625em;height:2.4em;font-size: 1em;border:none;color: #fff;background: #4872C3;border-radius: 0.3em;font-family: "微软雅黑";cursor:pointer;margin-right: 0.4em;}

.current_l{color:#335EB1 !important;}
.result_content{padding:0.625em 0.625em;}
.result{line-height:2.5em; color: #666;font-size:1.2em;}
.result_one{background:#fff;margin-top: 0.4em;}
.result_two{padding:1em; overflow: hidden;}
.result_two .result_left a{display:inline-block;float:left;width:30%;}
.result_two .result_left a img{width:100%;overflow:hidden;}
.result_two .result_right{float:right;width:65%;}
.result_two .result_right h2{font-size:1.2em;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.result_two .result_right h1{font-size:0.8em;margin-top:0.60em;color:#666;line-height:1.3em;max-height:3.8em;overflow: hidden;}
.result_two .result_right h3{font-size:0.8em;margin-top:0.65em;color:#666;line-height:1.3em;max-height:2.4em;overflow: hidden;font-weight: normal;}
.result_two .result_right .result_detail{font-size:0.8em;!important;float:right;margin-top: 0.625em;}
.result_two .result_right .result_detail a{color:#666;}
.result_two .result_right .result_detail i{display:inline-block;vertical-align:middle;background: url(../img/more.png) no-repeat center center;width:0.9em;height:0.7em;}
.result_two .result_right .result_detail a:hover{color:#335EB1}
.result_two .result_right .result_detail:hover i{display:inline-block;vertical-align:middle;background: url(../img/more_b.png) no-repeat center center;width:0.9em;height:0.7em;}
.page{margin-top: 1.5em;text-align: center;}
.page a{padding:0.3em 0.65em;border:1px solid #e5e5e5;margin-left:0.2em}
.current{background: #335EB1;color: #fff;}

/*product*/
.product{background: #ebeef5;overflow: hidden;}
.product_box{padding:0 0.625em;}
.product .product_box a{float: left;font-size: 1.2em;line-height:2.6em;width:25%; color:#666;}
.product .product_box a:hover{color:#335eb1;}
.product .product_box .pa{}
.product .product_box .product_a1{text-align: left;}
.product .product_box .product_a2{text-align: right;}
.current_p{color:#335EB1;}
/*product_detail*/
.product_detail{width:100%;}
.product_detail_top{font-size: 1.2em;}
.product_detail_m{font-size: 1em; color: #666;margin-top:0.5em;}
.product_nav_box{padding:0 0.625em;}
.product_nav{overflow: hidden;}
.product_nav a{float:left;width:25%;text-align: center;font-size: 1.1em;line-height: 2.3em;}
.product_nav a.cxhover{color:#335EB1;} 
.product_nav .product_nav_a1{text-align: left;}
.product_nav .product_nav_a2{text-align: right;}
.goods{margin-top: 1em;}
.goods .goods_ul{margin:0 0.625em;}
.goods .goods_l{border:1px solid #e5e5e5;border-bottom:none; background:url(../img/bg-giey.jpg) repeat-x bottom #fff;overflow: hidden;}
.goods ul{ width:102%;}
.goods ul li{float: left;width:49%;text-align: center;display:inline-block;border:1px solid #e5e5e5; margin-top: -1px; margin-left: -1px;}
.goods ul li .goods_img {width:100%;height:11em;overflow: hidden;text-align: center;}
.goods ul li .goods_img a{display:table-cell;vertical-align: middle;height:11em; width: 10%;}
.goods ul li .goods_img a img{width:70%;}
.goods ul li h1{font-size: 0.9em; color: #666;padding:0 0.625em;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.goods ul li h2{font-size: 1.2em;line-height: 2em;padding-bottom: 0.625em;}


.depict{padding:0.625em;background: #fff;}
.depict h2{color:#335EB1;font-size: 1.1em;}
.depict .depict_con {margin-top: 0.5em;}
.depict .depict_con i{float:left;display:inline-block;width:0.4em;height:0.4em;border-radius:0.4em;background:#335EB1;margin-top:0.35em;}
.depict .depict_con .depict_i{float: left;margin-left:0.625em;font-size: 0.8em;}
.can img{width:100%;}

.goods_line{border:1px solid #e5e5e5;}
.problem{padding:0.625em;background: #fff;}
.problem h2{font-size: 1.1em;}
.problem .problem_anser{font-size: 0.9em;color: #666;margin-top:0.625em;line-height:1.5em}
.problem .time{font-size: 0.75em;color:#999;margin-top:0.625em;}
.problem .problem_replay{color:#335EB1}
.consult_con{margin:0.625em;color:#666;}
.consult_exe {margin-top:0.625em;}
.consult_exe textarea{width:98%;border:1px solid #e5e5e5;}
.consult_inp{margin-top:0.625em;}
.consult_inp input{width:29%;border:1px solid #e5e5e5;height:2.5em;margin-right:0.4em;}
.consult_sub {text-align: center;margin-top:0.625em;}
.consult_sub input{border:none;background: #335EB1;padding: 0.5em 2em;color:#fff;border-radius: 0.4em;font-size: 1em;}


/*product_class*/
.class_content{margin:0 0.625em;}
.expmenu li{border: 1px solid #e5e5e5;background: #fff;margin-top: 0.625em;padding:0.7em 1em 0.7em 1em}
.expmenu li .menu_l li{border:1px solid #e5e5e5;padding:inherit;padding:0.5em 0.7em 0.5em 1.5em;}
.expmenu li .menu_l li a{color: #666;*float: left;}
.expmenu li .menu_l li span{display: block;width:1.1em;height:0.8em;margin-top:0.3em;float: right;background: url(../img/right.png) no-repeat center;}
.expmenu li .menu_l li:hover a{color: #335EB1;}
.expmenu li .menu_l li:hover span{display: block;width:1.1em;height:0.8em;float: right;margin-top:0.3em;background: url(../img/right-01.png) no-repeat center;}
.expmenu li .header_l{padding-left:1em;}
.expmenu li .header_l .label{*float: left;font-size: 1.2em;}
.expmenu li .header_l .arrow{display:block;width:26px;height:26px;background:no-repeat center;float: right;}
.expmenu li .header_l .arrow.up{background:url(../img/jian.jpg) no-repeat; float:right;width:26px;}
.expmenu li .header_l .arrow.down{background:url(../img/jia.jpg) no-repeat; float:right;width:26px;}
.expmenu li .menu_l{display: none;margin-top: 1.2em;}

/*personal*/
.personal{position: relative;margin-top:0.05em}
.personal .personal_name{position: absolute;top:45%;left: 36%;color:#fff;font-size: 1.4em;}
.personal_detail{margin: 0 0.625em;border-bottom: 1px solid #e5e5e5;padding:0.625em 0}
.personal_detail a{display:block;}
.personal_detail a .personal_one{float: left;}
.personal_detail a .personal_one span{font-size: 1.2em;}
.personal_detail a .personal_one i{display: inline-block;width:2.2em;height:2.2em;vertical-align:-0.6em;margin-right:0.625em;margin-left:0.625em;}
.personal_detail a h2{display:inline-block;float:right;background: url(../img/right.png) no-repeat center; width:1.1em;height:0.8em;margin-right:0.2em;margin-top:0.2em;}
.per_l{margin-bottom: 5em;}

/*login*/
.login{display:inline-block;padding:0 0.625em;line-height:2em;font-size: 0.8em !important;border:1px solid #e5e5e5;position: absolute;right: 0; top:0.6em !important;}
.login_content {margin-top:1em;}
.login_content .login_input{margin-top:0.8em;}
.login_content .login_input{width：100%;height:3em;line-height:3em;border:1px solid #d2d2d2; background: #fff;font-size: 1.1em;}
.login_content .login_input label{display: inline-block;height:3em;line-height:3em;width: 20%;vertical-align: top;padding-left:3%;}
.login_content .login_input input{width:65%; text-indent: 1em; height:2.65em;font-size: 1.1em; color: #333;border:none;background:none;line-height:1.8em;}
.login_content .login_submit input{margin-top:0.7em;width:100%;border:none;color:#fff;background:#4872c3;height:3em;line-height:3em;font-size: 1.1em;font-family: "微软雅黑";cursor:pointer;}
.login_content .login_yan{display:inline-block;margin-top:0.8em;width:64%;height:3em;line-height:3em;border:1px solid #d2d2d2; background: #fff;font-size: 1.1em;}
.login_content .login_yan label{display: inline-block;height:3em;line-height:3em;width: 30%;vertical-align: top;padding-left:3%;}
.login_content .login_yan input{width:55%;height:2.7em; text-indent: 1em; font-size: 1.1em; color: #333;border:none;background:none;line-height:1.8em;}
.login_content span{display: inline-block;vertical-align: middle;width:28%;margin-left:5%;}
.login_content .login_yan span img{width:100%;}
.login_content .login_input .login_in{color:#fff;background: #4872c3; border:none;font-family: "微软雅黑";cursor:pointer;}
.login_password{text-align: right; }
.login_password a{display:inline-block;line-height: 2.5em;color:#666;}

/*data*/
.data{font-size: 1.2em;line-height:2.5em;border-bottom:1px solid #e5e5e5;margin-top:0.4em ;}
.data_content{margin:0 2.2em;}
.data_input{margin-top:1em;}
.data_input label{display: inline-block;width:33%;text-align: right;font-size: 1.1em; color: #666;}
.data_input input[type="text"]{width:60%;height:2.1em;text-indent: 1em;font-size: 1em; border:1px solid #d2d2d2;}
.data_input .personal_in{min-width:22%;padding:0.4em 0.625em;height:2.4em;font-size: 1em;border:none;color: #fff;background: #4872C3;border-radius: 0.3em;font-family: "微软雅黑";cursor:pointer;margin-right: 0.4em;}


/*contact*/
.contact{background: #ebeef5;}
.contact_box{padding:0 0.625em;overflow: hidden;}
.contact_l{margin-top:0.5em;}
.contact .contact_box a{float: left;font-size: 1.2em;line-height:2.6em;width:50%; text-align: center;color:#666;}
.contact .contact_box a.cxhover{color:#335EB1;}
.contact_one .contact_two{margin:0 2em;}
.contact_one .contact_two h2{font-size: 1.2em;line-height: 2.2em;}
.contact_one .contact_two .contact_c{line-height: 1.8em;font-size: 0.9em;}
.contact_one .contact_two .contact_c span{color:#335EB1;}

/*contact_map*/
#dituContent{
	width:100%;
	float:left;
	height:20em; 
	border:1px solid #e3e3e3;
}
.Contact_us{
	width:100%;
}

/*consulting_dynamic*/
.dynamic_l{background: inherit !important;border-bottom: 1px solid #e5e5e5;}
.dynamic_l .dynamic{font-size: 0.7em; color: #666;line-height: 2.2em;}
.dynamic_l h1{height:2.8em !important;overflow: hidden;}

.more{margin:1em 0.625em;border:1px solid #e5e5e5;text-align: center;line-height: 2.2em;color:#666;}
.more a{color:#666;display:inline-block;}
.more a:hover{ color:#335EB1;}
.more b.ico {
	background: url(../img/shouqi_img.jpg) no-repeat left center;
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-left: 0.625em;
}
.dynamic_more{display: none;}

/*consulting_detail*/
.consult_box{margin:0 0.625em;}
.consult_box h2{font-size: 1.3em;line-height:2.8em;}
.consult_box .consult_ax{color:#999;}
.consult_box .consult_img{margin-top:1em;width:100%;}
.consult_box .consult_cont{text-indent: 2em;line-height: 1.7em;margin-top:0.4em;}
.consult_box .consult_next{border:1px solid #E5E5E5;margin-top:0.625em;line-height:1.5em;padding:0.625em;overflow:hidden;text-overflow: ellipsis;white-space: nowrap;}
.consult_box .consult_next a{color:#666;}

/*setpIn*/
.step{background: #ebeef5;overflow: hidden;}
.step_box{padding:0 0.625em;text-align: center;}
.step .step_box a{font-size: 1.2em;line-height:2.6em; color:#666;}
.step .step_box a.service_l{float: left;}
.step .step_box a.service_r{float: right;}
.step_a{text-align:inherit !important;}
.step .step_box .a_a{width: 32%; text-align: center; display: inline-block;}
.stepin{margin:0.625em;}
.step_img{background: #fff;text-align:center;}
.step_img img{width:12em;margin:0.2em 0;}
.step_con{text-indent: 2em;line-height: 1.7em;margin-top:0.4em;}

.stepin ul{overflow: hidden;} 
.stepin ul li{float: left;width:19.6%;text-align: center;border:1px solid #e5e5e5;height:2em;line-height: 2em;border-right:none;cursor: pointer;}
.stepin ul .li_s{border-right:1px solid #e5e5e5}
.stepin ul li.cxhover{color:#fff;background: #335EB1;border:none;height:2.06em;line-height: 2.06em;}

.step_pr .step_one ul{width:100%;overflow: hidden;}
.step_pr .step_one ul li{float: left;text-align: center;width:45%;margin:0 2.5%;margin-bottom:0.625em;}
.step_pr .step_one ul li a img{width:100%;}
.step_pr .step_one ul li h2{font-size: 1.1em;color:#666;line-height: 1.8em;}

.stepin_one{margin:0.625em 1em;}
.step_detail{text-align: center;}
.step_detail img{width:26em;}
.step_detail_w{line-height:1.5em;}

/*service*/

.service_b label{display:inline-block;width:50%;color:#666;font-size:1.1em;text-align: right;}
.service_b .service_input{margin-top:1em;}
.service_b .service_input input{width:40%;height:2.2em;font-size: 1em;text-indent: 1em;border:1px solid #e5e5e5}
.service_b .service_submit{margin-top:1.1em;}
.service_b .service_submit input{min-width:20%;padding:0.4em 0.625em;height:2.4em;font-size: 1em;border:none;color: #fff;background: #4872C3;border-radius: 0.3em;font-family: "微软雅黑";cursor:pointer;margin-right: 0.4em;}

.service_c{margin-top:4em;border-bottom: 1px solid #e5e5e5;padding-bottom: 1.5em;}
.service_c .service_one{font-size: 0.9em;margin-left:23%;line-height: 1.5em;color:#444}

.service_d{margin:3.5em 1.5em 2em 1.5em;}
.service_d h2{color:#d79c2a;font-size: 1.2em;line-height: 1.5em;}
.service_d .service_con{font-size: 1em;color:#666;line-height: 1.5em;}


/*service_accredit*/
.accredit{text-align: center;font-size: 1.3em;color:#555;line-height: 2.5em;}
.accredit_bottom{background: #fff;}
.accredit_middle{font-size: 0.75em;line-height: 2em;border-bottom:1px dashed #e5e5e5;padding:0.4em 0 0 0.4em;}
.accredit_a{margin-top:0.8em;padding:0 0.4em;}
.accredit_a h2{font-size: 0.8em; }
.accredit_b{padding-top:0.4em;}
.accredit_b .accredit_input{font-size: 0.8em; line-height: 2.2em;color:#666;}
.accredit_b .accredit_input input{vertical-align: middle;}

.accredit_button{text-align: center;margin-top:0.625em;}
.accredit_button input{min-width:20%;padding:0.4em 0.625em;height:2.4em;font-size: 1em;border:none;color: #fff;background: #4872C3;border-radius: 0.3em;font-family: "微软雅黑";cursor:pointer;margin-right: 0.4em;}

.encoder{margin-top:1em;text-align: center;}
.encoder label{width: 25%; display:inline-block;text-align: right;color:#666;font-size: 1.1em;}
.encoder input{width:60%;height:2.2em;line-height:2.2em;font-size: 1em;text-indent: 0.625em;border:1px solid #e5e5e5;color:#666;}
.encoder_button{margin-top:1em;}
.encoder_button label{width: 30%; display:inline-block;text-align: right;}
.encoder_button input{min-width:18%;padding:0.4em 0.625em;height:2.4em;font-size: 1em;border:none;color: #fff;background: #4872C3;border-radius: 0.3em;font-family: "微软雅黑";cursor:pointer;margin-right: 0.4em;}
.encoder span{font-size: 1.0em;}
.encoder_l{text-align:center;margin:1.5em; }
.encoder_l a{font-size: 1.1em;}


.query_select .re_sb{min-width:20%;padding:0.4em 0.625em;height:2.4em;font-size: 1em;border:none;color: #fff;background: #4872C3;border-radius: 0.3em;font-family: "微软雅黑";cursor:pointer;margin-right: 0.4em;}
/*atlaS*/
.atla_box{margin:1.3em 2em;}
.atla{text-align:center;}
.atla a{display:inline-block;font-size:1.1em;color:#333;line-height:1.8em;width:40%;border:1px solid #e5e5e5;}
.atla a.cxhover{color:#fff;background:#335eb1;border:none;line-height:1.9em;}
.atla_form{margin-top:1.5em;}
.atla_left{width:100%;}
.atla_l{text-align: center;}
.atla_left label{width:30%;text-align:right;font-size:1.1em;color:#666;}
.atla_left .atla_select select{background:#fff ;width:65%;height:2em;border:1px solid #e5e5e5;color:#333;font-family:'微软雅黑'; text-indent:0.8em;font-size: 1.1em;}
.atla_left .atla_select{ position:relative;margin-bottom:1em;}
.atla_left .atla_select #atla_color{z-index:-1;}
.atla_left .atla_select span{font-size:1.1em; position:absolute;top:35%;left:50%;}
.atla_left .atla_button { margin-left: 4%;}
.atla_left .atla_button .re_sb{min-width:20%;padding:0.4em 0.625em;height:2.4em;font-size: 1em;border:none;color: #fff;background: #4872C3;border-radius: 0.3em;font-family: "微软雅黑";cursor:pointer;margin-right: 0.4em;}

.kn-ostatus{display:inline-block;width:65%;position:relative; text-indent:1em; cursor:pointer;  vertical-align: -0.6em;}
.kn-ostatus .kn-oselect{width:100%; height:2em; line-height:2em;border:1px solid #e6e6e6;position:relative;background: #fff;}
.kn-ostatus .kn-oselect span{font-size:1.1em; font-weight: normal;position: absolute;left: 0; top:0;}
.kn-ostatus .kn-oselect:hover,.kn-ostatus .kn-oselect.kn-Default{border:1px solid #e6e6e6;}
.kn-oselect .kn-dropdown {position: absolute;top: 14px;right:10px;width: 6px;height: 6px;overflow: hidden;background: url(../img/dropd-ico1.png) no-repeat top;}
.kn-oselect .kn-droptop{background-position:bottom;}
.kn-ostatus ul.kn-component{width:100%;position: absolute;top:2em;left:0; background:#fff;border:1px solid #e6e6e6; display:none; z-index:9999; font-weight: normal;}
.kn-ostatus ul.kn-component li{font-size:1.1em; display:block;line-height:2em; z-index:9999;text-align: left;}
.kn-ostatus ul.kn-component li:hover,.kn-ostatus ul.kn-component li.Default{background:#65c6ea; color:#fff;}

span#ctl00_ContentPlaceHolder1_Tabs_Panel3_tab {
  float: left;
}

span#ctl00_ContentPlaceHolder1_Tabs_Panel2_tab {
  float: LEFT;margin-right:7px;
}

span#ctl00_ContentPlaceHolder1_Tabs_Panel1_tab {
  float: left;margin-right:7px;

/*atlaE*/





















